*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: sans-serif;
  line-height: 1.4;
}

.card{
  width: 800px;
  margin: 50px auto;
}

.product{
  border: black;
  border-style: solid;
}

h2{
  background-color : whitesmoke;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px;
  padding: 10px 5px;
  position: relative;
}

h2::after{
  content: "SALE";
  font-size: .85rem;
  letter-spacing: 5px;
  background-color: red;
  color: aliceblue;
  font-weight: bold;
  display: inline-block;
  padding: 6px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.price {
  font-size: 1.5rem;
  margin: 0%
}

.shipping {
  color : gray;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  margin-bottom: 20px;
}

a{
  color: black;
}

a:hover{
  text-decoration: none;
}

.color-palette{
  margin: 25px 0;
}

.black{
  background-color: black;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;

}
.blue{
  background-color: blue;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.red{
  background-color: red;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.yellow{
  background-color: yellow;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.green{
  background-color: green;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.brown{
  background-color: brown;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}

.details-title{
  margin-top: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.details-list{
  list-style-type: square;
  padding-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart{
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  border: none;
  border-top: solid black;
}

.add-cart:hover{
  background-color: white;
  color: black;
}
